<footer class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark justify-content-center">
    <div class="text-light">&copy; <a href="https://yuehaoshi.github.io/" class="link-light">Yuehao Shi</a> 2023</div>
</footer>